<main>
    <div class="cards">
        <div class="card-single">
            <div>
                <h1>1234</h1>
                <span> Residents</span>
            </div>
            <div>
                <span>
                    <mat-icon>people_outline</mat-icon>
                </span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>5679</h1>
                <span> Plots</span>
            </div>
            <div>
                <span>
                    <mat-icon>apps</mat-icon>
                </span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>212</h1>
                <span> Utility Providers</span>
            </div>
            <div>
                <span>
                    <mat-icon>settings_input_composite</mat-icon>
                </span>
            </div>
        </div>
        <div class="card-single">
            <div>
                <h1>Ksh.540000</h1>
                <span> Total Contributions</span>
            </div>
            <div>
                <span style="color: #fff;">
                    <mat-icon>payment</mat-icon>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div>
    </div>
</main>
